@use 'base/variables' as var;
@use 'base/mixins' as mix;

.no-webp .inicio{
    background-image: url(../img/header.jpg);
}
.webp .inicio{
    background-image: url(../img/header.webp);
}

.header{
    background-color: var.$grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include mix.tablet{
            min-height: 70rem;
            .contenido-header{
                min-height: 70rem;
            }
        }
    }
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    h1{
        text-align: left;
        color: var.$blanco;
        font-weight: var.$bold;
        line-height: 2;
        max-width: 60rem;
    }
}