@use 'base/variables' as var;
@use 'base/mixins' as mix;

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include mix.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logo {
        max-width: 100%;
        width: 28rem;
        height: auto;
    }
}

.navegacion{
    visibility: hidden;
    height: 0;
    opacity: 0;
    @include mix.tablet {
        display: flex;
        gap: 2rem;
        opacity: 1;
        visibility: visible;
    }

    a{
        color: var.$blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        @include mix.tablet {
            font-size: 1.8rem;
        }
        &:hover{
            color: var.$amarillo;
        }
    }
}

/**//*Menu Hamburgesa**/
.mobile-menu{
    @include mix.tablet {
        display: none;
    }
    img{
        width: 3rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.mostrar{
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
    opacity: 1;
    visibility: visible;
    height: auto;
}

.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mix.tablet {
        align-items: flex-end;
    }
}

.dark-mode-boton{
    width: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    filter: invert(100%);
    &:hover{
        cursor: pointer;
    }
    @include mix.tablet {
        margin-top: 0;
    }
}
 